{% extends 'employee/base.html' %}
{% block body_block %}

<form class="form-horizontal" action="{% url 'add_employee' %}" method="POST" style="color:cornflowerblue;">
    {% csrf_token %}
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-3">
            <h3><b>Add Employee</b></h3>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2" for="name">Employee Name:</div>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter email">
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2" for="email">Email:</div>
        <div class="col-sm-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2" for="pswd">Password:</div>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="pswd" name="pswd" placeholder="Enter password">
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2" for="ph">Phone:</div>
        <div class="col-sm-3">
            <input type="tel" pattern="[0-9]{10}" class="form-control" name="ph" id="ph" placeholder="Enter your 10 digit Phone number">
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2" for="addr">Address:</div>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="addr" name="addr" placeholder="Enter Address">
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2" for="photo">Upload photo:</div>
        <div class="col-sm-3">
            <input type="file" class="form-control" accept="image/*" id="photo" name="photo" style="height:40px;" placeholder="Upload your photo">
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-4">
        <button type="submit" class="btn btn-default" style="background-color: cornflowerblue; color:white;">Submit</button>
      </div>
    </div>
  </form> 
    
{% endblock %}
