{% extends 'employee/base.html' %}
{% load static %}
{% block body_block %}
    <div class="container" id="loader"> 
        <h3 style="color:cornflowerblue;">Employee Details</h3>
    </div>
    <style>
        .borderless td, .borderless th {
            border: none;
        }
    </style>
{% endblock %}

{% block bottom_js %}

 
<script type='text/javascript'>
        $(document).ready(function(){
        
        var emp = `${{empid}}`.replace('$','')
        url = '/detailsapi/'+emp
    
        $.ajax({
            url:  url,
            type:  'get',
            data: {'empid': emp},
            success: function  (data) {
              data = data.employe
                let rows =  '';
                rows += `
                <table class="table table-striped"> `

                $.each( data, function(i, employe) {
                  rows += `
                        <tr><td>Employee ID: </td><td>`+ employe.id + `</td></tr>
                        <tr><td>Employee Name: </td><td> ` + employe.employee_name + `</td></tr>
                        <tr><td>Email: </td><td>` + employe.email + `</td></tr>
                        <tr><td>Password: </td><td>` + employe.password + `</td></tr>
                        <tr><td>Phone: </td><td>` + employe.phone + `</td></tr>
                        <tr><td>Address: </td><td>` + employe.address + `</td></tr>
                        <tr><td>Photo: </td><td>
                          <img src="/media/static/image/` + employe.image_as_a_blob + `" alt="image" width="200" height="200">
                          
                        </td></tr>`
                });
              rows += `</table>`
                $("#loader").append(rows);
            },
            error: function  () {
              console.log("error occured")
            },
            });
      
            $("#btndetail").click(function(){
              window.open("")
          }); 
      
          });
      
        </script>

{% endblock %}