{% extends 'employee/base.html' %}
{% block body_block %}
    <p>The site helps to add create employee and employee details,<br/>
    can list employee details in a grid format</p><br/>

    <div class="container" id="loader"> 
      <h3 style="color:cornflowerblue;">Employee List</h3>
      
    </div>
    
{% endblock %}

{% block bottom_js %}
<script> type='text/javascript'
  $(document).ready(function(){
    $.ajax({
      url:  '/allEmployees',
      type:  'get',
      
      success: function  (data) {
          let rows =  '';
          rows += `
          <table class="table table-striped table-bordered">
          <tr>
              <th>Employee ID</th>
              <th>Employee Name</th>
              <th>Email</th>
              <th>Action</th>
          </tr> `
          $.each( data, function(i, employe) {

            rows += `
            <tr>
                <td>`+ employe.id + `</td>
                <td>` + employe.employee_name + `</td>
                <td>` + employe.email + `</td>
                <td>
                  <a href="/employeDetails/`+ employe.id + `/">Details</a>
                </td>
            </tr>`
          });
        rows += `</table>`
          $("#loader").append(rows);
      },
      error: function  () {
        console.log("error occured")
      },
      });
    });  

  </script>
{% endblock %}
